.post .post-image {
  padding-bottom: 30px;
}
.post .entry-content{
  margin: 0 0 25px;
}
.latest-posts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.latest-posts li {
  overflow: hidden;
  padding: 22px 0;
}
.latest-posts li + li {
  border-top-width: 1px;
}
.latest-posts li .image {
  float: left;
  height: 84px;
  margin: 0 25px 0 0;
  width: 130px;
}
.latest-posts li .meta, .big-post .meta {
  color: #7f7f7f;
  font-size: 11px;
  line-height: 18px;
  margin: 0 0 10px;
}
.latest-posts li .description {
  overflow: hidden;
}